
.puzzleOverview {
    flex: 1;
}

.variables {
    border-top: 1px solid var(--theme-border);
}

.variable {
    border-top: 1px solid var(--theme-border);
    margin-bottom: 8px;
}

.variableName {

}

.variableTitle {

}

.variableDescription {

}
