
.puzzleVariables {
    flex: 1;
}

.variableList {

}

.variable {

}

.variableTitle {
    padding: 4px 12px !important;

    color: var(--theme-fg-muted);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.variable.active .variableTitle {
    font-family: monospace;

    white-space: initial;
    overflow: initial;
    text-overflow: initial;
}

.variableName {
    color: var(--theme-fg);
}

.variableDescription {

}
